/* .about_section{
    height: 100vh;
    width: 100vw;

}

.blur2{
    position: absolute;
    width: 531px;
    height: 884px;
    left: -88px;
    top: 776px;
    
    background: #4F349F;
    filter: blur(100px);
} */