.main_container {
  width: 74vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background-color: antiquewhite; */
  background-color: var(--color-primary-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hello iam */
.center_container h4 {
  color: var(--color-primary-text2);
  font-size: 2rem;
}

/* name */
.center_container h1 {
  font-size: 3rem;
}

.imWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: content-box;
}

.imWrapper .words span h3 {
  padding: 0px;
  line-height: 3.5rem;
  font-size: 2.8rem;
  font-family: var(--font-sen);
  color: var(--color-primary-text2);
}

.imWrapper .words {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.imWrapper .words span {
  font-size: 2.7rem;
  display: block;
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: var(--font-sen);
  animation: spin_words 7s infinite;
}
@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  80% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
/* 
.socials{
  height: 100px;
  width: 100px;
background-color:#ffffff;
right: 13vw;
bottom: 5vh;
} */

.socials {
  bottom: 10vh;
  right: 3vw;
  align-self: flex-end;
  position: relative;
}

.socials div {
  margin-top: 5px;
}
.socials .linkedin {
  height: 40px;
  width: 40px;
  background-color: aquamarine;
}

.socials .github {
  height: 40px;
  width: 40px;
  background-color: aquamarine;
}

.socials .gmail {
  height: 40px;
  width: 40px;
  background-color: aquamarine;
}
/*   
 .socials:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
 }  */

/* transition: all 0.1s ease-in-out; */

.socials .gmail:hover {
  width: 40px;
  height: 40px;
  transform: scale(1.05);
  background: url("../../assets/icons/Google.png") no-repeat;
}

.socials .gmail {
  width: 40px;
  height: 40px;
  background: url("../../assets/icons/Google_bw.png") no-repeat;
  display: inline-block;
}

.socials .github:hover {
  width: 40px;
  height: 40px;
  transform: scale(1.05);
  background: url("../../assets/icons/GitHub.png") no-repeat;
}

.socials .github {
  width: 40px;
  height: 40px;
  background: url("../../assets/icons/GitHub_bw.png") no-repeat;
  display: inline-block;
}





.socials .linkedin:hover {
  width: 40px;
  height: 40px;
  transform: scale(1.05);
  background: url("../../assets/icons/linkedin.png") no-repeat;
}

.socials .linkedin {
  width: 40px;
  height: 40px;
  background: url("../../assets/icons/linkedin_bg.png") no-repeat;
  display: inline-block;
}
