.main_container {
  width: 74vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hello iam */
.center_container h4 {
  color: var(--color-primary-text2);
  font-size: 2rem;
}

/* name */
.center_container h1 {
  font-size: 3rem;
}

.imWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imWrapper .words span {
  font-size: 2.7rem;
  display: block;
  /* height: 100%; */
  font-family: var(--font-sen);
  animation: spin_words 6s infinite;
}
.imWrapper .words span h3 {

  font-size: 2.5rem;
  font-family: var(--font-sen);
  color: var(--color-primary-text2);
}

.imWrapper .words {
  height: 2.8rem;
/* background-color: beige; */

  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

/* @keyframes spin_words {


  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }

} */

/* floating */

/* .test {
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;
  
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 70px;
  
    position: fixed;
    right: 13vw;
    bottom: 5vh;
 }
  
 .test:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
 } */
