.main_container {
  width: 72vw;
  height: 100vh;
 
  /* background-color: antiquewhite; */
  background-color: var(--color-primary-background);
  display: flex;
  align-items: center;
  justify-content: center;
overflow: hidden;

}
.main_home_section{
overflow: hidden;
}
/* hello iam */
.center_container h4 {
  color: var(--color-primary-text2);
  font-size: 2rem;
}

/* name */
.center_container h1 {
  font-size: 3rem;
}

.imWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: content-box;
}

.imWrapper .words span h3 {
  padding: 0px;
  line-height: 3.5rem;
  font-size: 2.8rem;
  font-family: var(--font-sen);
  color: var(--color-primary-text2);
}

.imWrapper .words {

  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.imWrapper .words span {
  
  font-size: 2.7rem;
  /* display: block; */
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: var(--font-sen);
  animation: spin_words 7s infinite;
}
@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  80% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
/* 
.socials{
  height: 100px;
  width: 100px;
background-color:#ffffff;
right: 13vw;
bottom: 5vh;
} */

.home_socials {
  position:  static;
margin-bottom: 50px;
  /* bottom: 10vh;
  right: 13vw;
  position: absolute;
  overflow:  hidden; */
  animation: 0.5s ease-out 0s 1 just_bounce;
  align-self: flex-end;

}


.home_socials div {
  margin-top: 5px;
}



.home_socials .gmail:hover {
  width: 40px;
  height: 40px;
  transform: scale(1.05);
  background: url("../../assets/icons/Google.png") no-repeat;
}

.home_socials .gmail {
margin-bottom: 10px;
width: 40px;
  height: 40px;
  background: url("../../assets/icons/Google_bw.png") no-repeat;
  display: inline-block;
}

.home_socials .github:hover {
  width: 40px;
  height: 40px;
  transform: scale(1.05);
  background: url("../../assets/icons/GitHub.png") no-repeat;
}

.home_socials .github {
margin-bottom: 10px;
width: 40px;
  height: 40px;
  background: url("../../assets/icons/GitHub_bw.png") no-repeat;
  display: inline-block;
}

.home_socials .linkedin:hover {
  width: 40px;
  height: 40px;
  transform: scale(1.05);
  background: url("../../assets/icons/linkedin.png") no-repeat;
}

.home_socials .linkedin {
margin-bottom: 10px;
width: 40px;
  height: 40px;
  background: url("../../assets/icons/linkedin_bw.png") no-repeat;
  display: inline-block;
}

.resume_button {
  animation: 0.5s ease-out 0s 1 just_bounce;

  margin: 20px;
  justify-content: center;
  width: 120px;
  height: 45px;
 background-color: #6EB69D;
  border-radius: 14px;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  
}

.resume_button:hover {
transform: scale(1.04);
background-color: #6eb69c;
justify-content: center;


}
.resume_button h5 {
  font-size:16px;
  color: var(--color-primary-background);
  font-family: var(--font-pop);
}
.resume_button .link_logo{
  margin-left: 5px;

  width: 19px;
  height: 19px;
}