.nav_bar {
  width: 72vw;
  display: flex;
  justify-content: space-between
  ;
  flex-direction: row;
  /* overflow: hidden; */
  background: rgba(23, 23, 23, 0.6);
  position: fixed;
  top: 0;
}

.one {
  display: flex;
  height: 30px;
  width: 30px;
  background-color: wheat;
}
.two {
  display: flex;
  height: 30px;
  width: 30px;
  background-color: wheat;
}

.lp .LP_logo {
  height: 40px;
  margin-top: 15px;
}
.nav_bar .nav_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.nav_bar .nav_right {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.nav_items_p {
  margin-right: 40px;
}

.nav_right .about .about_link {
  color: var(--color-primary-text);
  font-weight: 300;
  letter-spacing: 8px;
}
.nav_right .experience .experience_link {
  color: var(--color-primary-text);
  font-weight: 300;
  letter-spacing: 8px;
}
.nav_right .projets .projets_link {
  color: var(--color-primary-text);
  font-weight: 300;
  letter-spacing: 4px;
}
.main_header_section .nav_bar .nav_right .about .about_line {
  height: 2.5px;
}
.main_header_section .nav_bar .nav_right .about:hover .about_line {
  height: 2.5px;
  background-color: var(--color-primary-accent);
  transition: background-color 0.3s ease;
}
.main_header_section .nav_bar .nav_right .experience .experience_line {
  height: 2.5px;
}
.main_header_section .nav_bar .nav_right .experience:hover .experience_line {
  height: 2.5px;
  background-color: var(--color-primary-accent);
  transition: background-color 0.3s ease;
}
.main_header_section .nav_bar .nav_right .projets .projets_line {
  height: 2.5px;
}
.main_header_section .nav_bar .nav_right .projets:hover .projets_line {
  height: 2.5px;
  background-color: var(--color-primary-accent);
  transition: background-color 0.3s ease;
}
