/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&family=Sen:wght@400;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-pop);
  font-family: var(--font-sen);
  scrollbar-width: thin;
  scrollbar-color: #6EB69D #0c111a;
  
}


:root {


  /* fonts */
  --font-sen: "Sen", sans-serif;
  --font-pop: "Poppins", sans-serif;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-pop);

  /* font-family: var(--font-sen); */

  /* background: var(--color-primary-background); */
  /* color: var(--color-white); */
  line-height: 1.7;
}

/* reuse-able-classes */
.just-center-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.just-center-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes just_bounce {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0);
  }
}
